.btn-primary {
  background-color: #c6993a;
}
.site-navigation {
  background-color: #000209;
}

.site-navigation .nav-item .nav-link {
  color: white;
}

.site-navigation .navbar-brand img {
  max-width: 110px;
}

.site-footer {
  background-color: #000209;
}

.site-footer img {
  max-width: 110px;
}

.btn-secondary {
  background-color: #2d3136;
}

.site-counter {
  background-color: #c6993a;
}

h1,h2,h3,h4,h5,h6 {
  color: black;
}

.site-team-member-content h3 {
  color:#c6993a;
}

.site-about-company {
  background-color: #c6993a;
}

.site-about-company img {
  width: 100%; /* or any custom size */
  height: 450px; 
  object-fit: cover;
}

.site-navigation .navbar-toggler .icon-bar {
  background-color:#c6993a;
}

.site-project-item-content span, .site-blog-post-content span {
  color:#c6993a;
}

.btn-secondary:hover {
  background-color: #c6993a;
}

.site-project-header-content h1 span {
  color: #c6993a;
}

.site-hero-content h1,h6 {
  color: white;
}

.site-hero-content h1 {
  margin-bottom: 25px;
}

.site-hero-content h6 {
  margin-bottom: 75px;
  font-size: 25px;
}

.site-project-cta {
  color: black;
}

.site-project-cta:hover {
  color:#c6993a;
}

.site-project-cta::before {
  background-color:#c6993a;
}

.site-contact-title span {
  color: #c6993a;
}

.form-control {
  border-color:#c6993a;
  font-weight: 500;
}

.site-about-company {
  padding: 0px;
}

.btn-primary:hover {
  background-color: #2d3136;
}

#contact-form-status {
  color: green;
}

.site-hero-content-buttons .btn-secondary {
  background-color: #c6993a;
}

.site-hero-content-buttons .btn-secondary:hover {
  background-color: #2d3136;
}